*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html, body{
    height: 100%;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.image-container img{
    width: 400px;     
    height: 300px;
    border: 2px solid #ff3d003;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #0000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}

.image-container img::hover{
    filter: grayscale(1);
    transform: scale(1.03);
}

/* Preloader Styles */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #009688;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Curtain Opening Animation for Content */
#content {
    overflow: hidden;
    transform: translateY(-100%);
    animation: openCurtains 1s ease-out forwards;
}

/* Curtain Animation Keyframes */
@keyframes openCurtains {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}


